In [1]:
# Загружаем необходимые библиотеки
import pandas as pd
import numpy as np

# Посомтреть директория компа
import os
current_dir = os.getcwd()
print(current_dir)

In [2]:
# Убрать предупреждения
import warnings
warnings.filterwarnings('ignore')

## Задача 1

In [3]:
PATH_OUT = r'C:\Users\Dell\Desktop\MyPython\Yandex.Practica\ПРЕДЛОЖЕНИЯ\Школьники\Работа_над_материалами\Тема_1'

In [40]:
# Загрузка данных в csv формате
df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep= ';', encoding='cp1251', decimal=',')#, skipinitialspace=True) #  na_values='?'
#df = df.dropna()  # удалили строки с пропусками
df.shape

(2999, 12)

!, /, %, ?

In [41]:
df.head(15)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,55.9,нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,37.4,нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,48.3,да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально
3,муж,58.6,да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально
4,муж,34.3,нет,469,0,1,4,нормально,отсутствует,плохо,нормально,нормально
5,муж,33.3,нет,667,0,0,4,плохо,отсутствует,отсутствует,нормально,нормально
6,жен,45.2,нет,865,1,1,4,хорошо,плохо,хорошо,нормально,хорошо
7,жен,42.5,нет,1242,0,1,4,нормально,отсутствует,плохо,нормально,нормально
8,жен,24.2,нет,1079,1,1,3,нормально,плохо,плохо,нормально,нормально
9,муж,45.2,нет,627,1,0,2,плохо,нормально,отсутствует,нормально,нормально
10,муж,51.6,да,1747,1,1,3,нормально,,плохо,хорошо,нормально
11,муж,37.4,нет,195,1,1,3,нормально,плохо,плохо,плохо,плохо
12,жен,65.9,нет,680,1,0,2,плохо,плохо,отсутствует,нормально,нормально
13,жен,19.7,нет,287,0,0,3,,отсутствует,отсутствует,нормально,нормально
14,муж,22.2,нет,785,1,1,2,нормально,нормально,нормально,нормально,хорошо

In [39]:
df1.isna().sum()

0

# Запись в файл
df.to_csv('proba.csv', encoding='cp1251', index=False)

In [6]:
# Привдение названия столбцов к формату PEP8
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [7]:
df.head(3)

,пол,возраст,путешествует_с_детьми,расстояние,включён_завтрак,наличие_wifi,оценка_удобства_добирания_до_места,оценка_интерсности_досуга,оценка_качества_питания,оценка_качества_wifi,оценка_комфортности_палатки,общая_оценка_качества_предоставленной_услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально

## Задача 2

Эти данные предоставлены компанией, которая оказывает услуги по организации туристического отдыха по направлению "глемпинг". Вам предстоит проанализировать уровень качества оказываемых услуг.

Но сначала необходимо подготовить данные:

1. Загрузите данные из этого файла. Разделителем между значениями является запятая.
2. Переведите названия столбцов в формат PEP8. Кириллицу оставляем
3. В факторе “возраст” - в числе заменить запятую на точку
4. Перевести фактор “возраст” в числовой формат и округлить до целого по математическому правилу
5. Вывести первые 10 строк таблицы двух факторов: "возраст" и "путешествует_с_детьми"

In [8]:
import pandas as pd

df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251').dropna()
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст'] = df['возраст'].str.replace(',', '.')
df['возраст'] = df['возраст'].astype(float)

df['возраст'] = round(df['возраст'], 0).astype('int64')
print(df[['возраст', 'путешествует_с_детьми']].head(10))

   возраст путешествует_с_детьми
0       56                   нет
1       37                   нет
2       48                    да
3       59                    да
4       34                   нет
5       33                   нет
6       45                   нет
7       42                   нет
8       24                   нет
9       45                   нет

In [71]:
col = ['возраст','расстояние']

In [ ]:
print(df[col].head(10))

In [50]:
df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251', decimal=',')

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2999 entries, 0 to 2998
Data columns (total 12 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Пол                                           2999 non-null   object
 1   Возраст                                       2999 non-null   float64
 2   Путешествует с детьми                         2999 non-null   object
 3   Расстояние                                    2999 non-null   int64
 4   Включён завтрак                               2999 non-null   int64
 5   Наличие wifi                                  2999 non-null   int64
 6   Оценка удобства добирания до места            2999 non-null   int64
 7   Оценка интерсности досуга                     2998 non-null   object
 8   Оценка качества питания                       2998 non-null   object
 9   Оценка качества wifi                          2999 non-null   object
 10  Оценка комфортности палатки                   2999 non-null   object
 11  Общая оценка качества предоставленной услуги  2999 non-null   object
dtypes: float64(1), int64(4), object(7)
memory usage: 281.3+ KB

## Задача 3

В файле также представлены данные компании, оказывающей услуги в области туризма по направлению “глемпинг”. В этот раз вам необходимо сделать вот что:

1) Загрузить данные из этого файла. Разделителем между значениями является запятая.

2) На основе количественного фактора возраст создать новый категориальный фактор возраст_кат используя условия:
- Всё, что меньше равно 30 лет назвать менее_30
- Всё, что более 30 лет назвать более_30

3) С помощью изученного в теории подхода посчитать долю клиентов менее_30 и более_30. Результат вывести в процентах и округлить до целого по математическому правилу.

In [45]:
import pandas as pd

df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст'] = df['возраст'].str.replace(',', '.')
df['возраст'] = df['возраст'].astype(float)

df['возраст_кат'] = df['возраст'].apply(lambda x: 'менее_30' if x <= 30 else 'более_30')
#df = pd.DataFrame(round(df['возраст_кат'].value_counts(normalize=True) * 100, 0).astype('int64'))
df#.set_index()

,пол,возраст,путешествует_с_детьми,расстояние,включён_завтрак,наличие_wifi,оценка_удобства_добирания_до_места,оценка_интерсности_досуга,оценка_качества_питания,оценка_качества_wifi,оценка_комфортности_палатки,общая_оценка_качества_предоставленной_услуги,возраст_кат
0,муж,55.9,нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально,более_30
1,жен,37.4,нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально,более_30
2,жен,48.3,да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально,более_30
3,муж,58.6,да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально,более_30
4,муж,34.3,нет,469,0,1,4,нормально,отсутствует,плохо,нормально,нормально,более_30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2994,муж,40.8,нет,1061,1,1,2,нормально,нормально,плохо,нормально,нормально,более_30
2995,жен,43.8,нет,473,0,0,2,нормально,отсутствует,отсутствует,нормально,нормально,более_30
2996,жен,40.8,да,552,0,1,4,нормально,отсутствует,нормально,плохо,нормально,более_30
2997,жен,49.4,да,2622,1,0,4,плохо,плохо,отсутствует,нормально,нормально,более_30
2998,муж,60.5,да,155,0,0,3,плохо,отсутствует,отсутствует,нормально,нормально,более_30

In [47]:
df['возраст_кат'].value_counts(normalize=True)

более_30    0.762921
менее_30    0.237079
Name: возраст_кат, dtype: float64

In [ ]:
value_counts()/len(df)

*************

## Задача 4

Продолжаем работать с данными туристической компании.

Необходимо:
1) Загрузить данные из файла. Разделителем между значениями является запятая.

2) На основе количественного фактора расстояние создать новый категориальный фактор расстояние_кат.

Всё, что меньше равно 300 км назвать домашний_регион
Всё, что более 300 км, но менее равно 700 км назвать недалеко_отдома
Всё, что более 700 км, назвать дальнее_путешествие
3) С помощью изученной в теории подхода, посчитать долю клиентов по категориям домашний_регион, недалеко_отдома и дальнее_путешествие из созданного в п.2 фактора расстояние_кат. Результат вывести в процентах и округлить до целого по математическому правилу.

In [11]:
import pandas as pd

# df = pd.read_csv('data.csv', sep=',', skipinitialspace=True)

df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст'] = df['возраст'].str.replace(',', '.')
df['возраст'] = df['возраст'].astype(float)

df['расстояние_кат'] = df['расстояние'].apply(lambda x: 'домашний_регион' if x<= 300 \
                        else ('не_так_далеко' if x<= 700 else 'дальнее_путешествие'))

print(round(df[['расстояние_кат']].value_counts(normalize=True)*100, 0).astype(int))

расстояние_кат
дальнее_путешествие    47
не_так_далеко          37
домашний_регион        16
dtype: int32

## Задача 5

Это всё те же данные туристической компании.

В этой задаче необходимо:
1) Загрузить данные из файла. Разделитель - запятая.

2) Посчитать в процентах долю категорий в факторе "общая_оценка_качества_предоставленной_услуги" для клиентов с детьми и без детей. На экран вывести результат в процентах с округлением до одного знака после запятой.

Подсказка:
- группирующих факторов у нас 2: первый - путешествует_с_детьми", вторая - "общая_оценка_качества_предоставленной_услуги"

In [55]:

df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст'] = df['возраст'].str.replace(',', '.')
df['возраст'] = df['возраст'].astype(float)


df['расстояние_кат'] = df['расстояние'].apply(lambda x: 'домашний_регион' if x <= 300 \
                        else ('не_так_далеко' if x <= 700 else 'дальнее_путешествие'))

# группировка и расчёт процента внутри группы
df1 = df.groupby(['путешествует_с_детьми', 'общая_оценка_качества_предоставленной_услуги']).size()
df1= df1.groupby(level=0).apply(lambda x: round(100 * x / float(x.sum()),1))
#print(df1)
df1

путешествует_с_детьми  общая_оценка_качества_предоставленной_услуги
да                     нормально                                       67.2
                       плохо                                           14.7
                       хорошо                                          18.0
нет                    нормально                                       65.7
                       плохо                                           13.4
                       хорошо                                          21.0
dtype: float64

# группировка и расчёт процента внутри группы
df1 = df.groupby(['путешествует_с_детьми', 'общая_оценка_качества_предоставленной_услуги']).size()
df1 = df1.groupby(level=0, group_keys=False).apply(lambda x: round(100 * x / float(x.sum()), 1))#.unstack()
#df1.columns = df1.columns.get_level_values(1)#.columns.droplevel(0)
df1 = pd.DataFrame(df1).reset_index()
df1.columns = ['1', 'общая_оценка_качества_предоставленной_услуги', '2']
print(df1)

print(round(df[['общая_оценка_качества_предоставленной_услуги']].value_counts(normalize=True)*100, 0).astype(int))

df1

## Задача 6

Вы будете работать с факторами:
- общая_оценка_качества_предоставленной_услуги. Имеет категории: 'плохо', 'нормально', 'хорошо'
- путешествует_с_детьми. Имеет категории: 'да', 'нет'
- расстояние_кат. Имеет категории: 'дальнее_путешествие', 'домашний_регион', 'не_так_далеко'

1) Загрузить данные из этого файла. Разделителем между значениями является запятая.

2) Посчитать долю плохих оценок качества обслуживания общая_оценка_качества_предоставленной_услуги, исходя из типа путешествия “расстояние_кат” и наличия или отсутствия детей “путешествует_с_детьми”. На экран вывести результат в процентах с округлением до одного знака после запятой.

In [22]:
df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст'] = df['возраст'].str.replace(',', '.')
df['возраст'] = df['возраст'].astype(float)


df['расстояние_кат'] = df['расстояние'].apply(lambda x: 'домашний_регион' if x<= 300 \
                        else ('не_так_далеко' if x<= 700 else 'дальнее_путешествие'))

# выделяем только тех кто поставил оценку "плохо"
df = df[df['общая_оценка_качества_предоставленной_услуги'] == 'плохо']
df = df.query('общая_оценка_качества_предоставленной_услуги == "плохо"')
#df[df['общая_оценка_качества_предоставленной_услуги'] ==]

df1= df.groupby(['расстояние_кат', 'путешествует_с_детьми']).size()
df1 = df1.groupby(level=0).apply(lambda x: round(100 * x / float(x.sum()),1))
print(df1)

расстояние_кат       путешествует_с_детьми
дальнее_путешествие  да                       24.7
                     нет                      75.3
домашний_регион      да                       16.4
                     нет                      83.6
не_так_далеко        да                       19.9
                     нет                      80.1
dtype: float64

In [14]:
df.head(2)

,пол,возраст,путешествует_с_детьми,расстояние,включён_завтрак,наличие_wifi,оценка_удобства_добирания_до_места,оценка_интерсности_досуга,оценка_качества_питания,оценка_качества_wifi,оценка_комфортности_палатки,общая_оценка_качества_предоставленной_услуги,расстояние_кат
11,муж,37.4,нет,195,1,1,3,нормально,плохо,плохо,плохо,плохо,домашний_регион
22,муж,64.2,нет,688,1,0,2,плохо,плохо,отсутствует,нормально,плохо,не_так_далеко

In [15]:
df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст'] = df['возраст'].str.replace(',', '.')
df['возраст'] = df['возраст'].astype(float)


df['расстояние_кат'] = df['расстояние'].apply(lambda x: 'домашний_регион' if x <= 300 \
                        else ('не_так_далеко' if x <= 700 else 'дальнее_путешествие'))

# группировка и расчёт процента внутри группы
df1 = df.groupby(['оценка_интерсности_досуга', 'общая_оценка_качества_предоставленной_услуги']).size()
df1 = df1.groupby(level=0).apply(lambda x: round(100 * x / float(x.sum()),1))
#print(df1)
df1

оценка_интерсности_досуга  общая_оценка_качества_предоставленной_услуги
нормально                  нормально                                       70.6
                           плохо                                           10.1
                           хорошо                                          19.3
отсутствует                нормально                                       50.3
                           плохо                                            4.1
                           хорошо                                          45.6
плохо                      нормально                                       69.6
                           плохо                                           20.0
                           хорошо                                          10.4
хорошо                     нормально                                       34.7
                           плохо                                            3.8
                           хорошо                                          61.5
dtype: float64

In [56]:
df.head(2)

,пол,возраст,путешествует_с_детьми,расстояние,включён_завтрак,наличие_wifi,оценка_удобства_добирания_до_места,оценка_интерсности_досуга,оценка_качества_питания,оценка_качества_wifi,оценка_комфортности_палатки,общая_оценка_качества_предоставленной_услуги,расстояние_кат
0,муж,55.9,нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально,не_так_далеко
1,жен,37.4,нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально,дальнее_путешествие

In [21]:
cat_feature = df.drop(['Возраст', 'Расстояние'], axis = 1).columns
cat_feature

Index(['Пол', 'Путешествует с детьми', 'Включён завтрак', 'Наличие wifi',
       'Оценка удобства добирания до места', 'Оценка интерсности досуга',
       'Оценка качества питания', 'Оценка качества wifi',
       'Оценка комфортности палатки',
       'Общая оценка качества предоставленной услуги'],
      dtype='object')

In [65]:
cat_feature = df.select_dtypes(include=[object]).columns
cat_feature

Index(['пол', 'путешествует_с_детьми', 'оценка_интерсности_досуга',
       'оценка_качества_питания', 'оценка_качества_wifi',
       'оценка_комфортности_палатки',
       'общая_оценка_качества_предоставленной_услуги', 'расстояние_кат'],
      dtype='object')

In [66]:
for i in cat_feature:
    print('\033[1m' + '_'+ str(i) + '_' + '\033[0m')
    display(df[i].value_counts())

_пол_

муж    218
жен    191
Name: пол, dtype: int64

_путешествует_с_детьми_

нет    320
да      89
Name: путешествует_с_детьми, dtype: int64

_оценка_интерсности_досуга_

плохо          266
нормально      127
хорошо          10
отсутствует      6
Name: оценка_интерсности_досуга, dtype: int64

_оценка_качества_питания_

плохо          283
отсутствует     96
нормально       24
хорошо           6
Name: оценка_качества_питания, dtype: int64

_оценка_качества_wifi_

отсутствует    268
плохо          121
нормально       20
Name: оценка_качества_wifi, dtype: int64

_оценка_комфортности_палатки_

плохо        245
нормально    111
хорошо        53
Name: оценка_комфортности_палатки, dtype: int64

_общая_оценка_качества_предоставленной_услуги_

плохо    409
Name: общая_оценка_качества_предоставленной_услуги, dtype: int64

_расстояние_кат_

дальнее_путешествие    198
не_так_далеко          156
домашний_регион         55
Name: расстояние_кат, dtype: int64

**Две группы: по полу и "путешествет с детьми"**

- 2 группы
- сгладить строки в таблице с группами
- заголовки таблицы

In [62]:
agg_min_max = {'расстояние': ['min', 'max']}

In [63]:
df.sort_values(by=['расстояние'], ascending=False).groupby(['пол', 'путешествует_с_детьми']).agg(agg_min_max)

                          расстояние
                                 min   max
пол путешествует_с_детьми
жен да                            68  4030
    нет                           93  3967
муж да                           104  3372
    нет                          104  4539

**Две группы: по полу и "путешествет с детьми" (сгладить строки)**

df.sort_values(by=['расстояние'], ascending=False).groupby(['Пол', 'Путешествует с детьми'], as_index=False).agg(agg_min_max)

In [76]:
df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251')
df.sort_values(by=['Расстояние'], ascending=True)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
1381,жен,"30,9",да,68,0,1,2,нормально,отсутствует,плохо,нормально,нормально
1623,жен,"32,7",нет,93,1,1,3,нормально,хорошо,хорошо,нормально,хорошо
126,жен,"72,8",нет,104,0,0,3,нормально,отсутствует,отсутствует,хорошо,нормально
629,жен,"36,7",нет,104,1,0,3,плохо,плохо,отсутствует,плохо,плохо
698,муж,"41,7",да,104,1,0,4,отсутствует,нормально,отсутствует,нормально,нормально
...,...,...,...,...,...,...,...,...,...,...,...,...
2830,жен,"47,3",да,3900,1,0,5,нормально,нормально,отсутствует,плохо,хорошо
1258,жен,"44,5",нет,3962,1,1,5,нормально,плохо,плохо,нормально,хорошо
1343,жен,"52,3",нет,3967,0,0,3,отсутствует,отсутствует,отсутствует,плохо,хорошо
2242,жен,"47,2",да,4030,1,1,4,нормально,нормально,плохо,нормально,нормально
2498,муж,"60,5",нет,4539,1,0,3,плохо,плохо,отсутствует,плохо,нормально

**Две группы: по полу и "путешествет с детьми" (сгладить строки) + заголовки**

In [75]:
df_group = df.sort_values(by=['Расстояние'], ascending=False).groupby(['Пол', 'Путешествует с детьми'], as_index=False).agg(agg_min_max)

***Соединим сроки в заголовке***

In [73]:
df_group.columns = ['_'.join(col) for col in df_group.columns.values]
df_group

  Пол_ Путешествует с детьми_  Расстояние_min  Расстояние_max
0  жен                     да              68            4030
1  жен                    нет              93            3967
2  муж                     да             104            3372
3  муж                    нет             104            4539

***Удалим подчёркивание в конце***

In [76]:
df_group.columns = ['_'.join(col).rstrip('_') for col in df_group.columns.values]
df_group

   Пол Путешествует с детьми  Расстояние_min  Расстояние_max
0  жен                    да              68            4030
1  жен                   нет              93            3967
2  муж                    да             104            3372
3  муж                   нет             104            4539

**Выбор части данных**

In [142]:
df[df['Путешествует с детьми'] == 'да']

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги,new
2,жен,48,да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально,более_30
3,муж,59,да,1579,1,1,4,нормально,плохо,нормально,хорошо,нормально,более_30
10,муж,52,да,1747,1,1,3,нормально,NaN,плохо,хорошо,нормально,более_30
17,муж,44,да,850,1,1,2,нормально,нормально,нормально,плохо,нормально,более_30
27,жен,48,да,628,1,1,4,нормально,плохо,нормально,плохо,хорошо,более_30
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2979,муж,49,да,484,1,0,3,плохо,нормально,отсутствует,нормально,нормально,более_30
2983,жен,53,да,126,0,0,3,плохо,отсутствует,отсутствует,нормально,нормально,более_30
2996,жен,41,да,552,0,1,4,нормально,отсутствует,нормально,плохо,нормально,более_30
2997,жен,49,да,2622,1,0,4,плохо,плохо,отсутствует,нормально,нормально,более_30
2998,муж,60,да,155,0,0,3,плохо,отсутствует,отсутствует,нормально,нормально,более_30

## Срезы

In [36]:
df.query('Расстояние > 2000').head(2)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
34,муж,"38,4",нет,2593,1,0,2,плохо,нормально,отсутствует,плохо,нормально

In [40]:
df.query('Пол == "муж" & Расстояние > 2000').head(2)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
34,муж,"38,4",нет,2593,1,0,2,плохо,нормально,отсутствует,плохо,нормально
35,муж,"70,3",нет,2109,1,0,4,плохо,нормально,отсутствует,хорошо,нормально

## сводные таблицы

In [ ]:
pivot_table, groupby, query

In [ ]:
# Подробное руководство по группировке данных
https://dfedorov.spb.ru/pandas/Подробное%20руководство%20по%20группировке%20и%20агрегированию%20с%20помощью%20pandas.html

In [32]:
df.head(3)

,Пол,Возраст,Путешествует с детьми,Расстояние,Включён завтрак,Наличие wifi,Оценка удобства добирания до места,Оценка интерсности досуга,Оценка качества питания,Оценка качества wifi,Оценка комфортности палатки,Общая оценка качества предоставленной услуги
0,муж,"55,9",нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,"37,4",нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально
2,жен,"48,3",да,1241,1,1,3,нормально,нормально,плохо,плохо,нормально

In [23]:
df = pd.read_csv(PATH_OUT + '\\tema_13_teor.csv', sep=';', skipinitialspace=True, encoding='cp1251')
df.columns = df.columns.str.lower().str.replace(' ', '_')
df['возраст'] = df['возраст'].str.replace(',', '.')
df['возраст'] = df['возраст'].astype(float)

In [25]:
df.head(2)

,пол,возраст,путешествует_с_детьми,расстояние,включён_завтрак,наличие_wifi,оценка_удобства_добирания_до_места,оценка_интерсности_досуга,оценка_качества_питания,оценка_качества_wifi,оценка_комфортности_палатки,общая_оценка_качества_предоставленной_услуги
0,муж,55.9,нет,677,0,1,2,плохо,отсутствует,плохо,плохо,нормально
1,жен,37.4,нет,2112,1,0,3,плохо,плохо,отсутствует,хорошо,нормально

In [69]:
df.pivot_table(
       index=['пол', 'путешествует_с_детьми'],
       columns=['включён_завтрак'],
       values=['расстояние'],
       aggfunc='mean').droplevel(0)#.reset_index()#.set_index('DateTime').resample("2W").sum()#.head(10)

включён_завтрак                     0           1
пол путешествует_с_детьми
жен да                     965.586777  949.573864
    нет                    780.157563  832.741979
муж да                     906.103175  913.812155
    нет                    790.325000  824.571819

In [83]:
df[col]#.sum(axis=0)

      возраст  расстояние
0        55.9         677
1        37.4        2112
2        48.3        1241
3        58.6        1579
4        34.3         469
...       ...         ...
2994     40.8        1061
2995     43.8         473
2996     40.8         552
2997     49.4        2622
2998     60.5         155

[2999 rows x 2 columns]